apiVersion: v1
kind: Service
metadata:
  name: {{ include "wuda.fullname" . }}-backend
  labels:
    {{- include "wuda.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  type: {{ .Values.backend.service.type }}
  ports:
  - port: {{ .Values.backend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "wuda.backend.selectorLabels" . | nindent 4 }}
