apiVersion: apps/v1

kind: Deployment

metadata:
  name: {{ include "wuda.fullname" . }}-frontend

  labels:
    {{- include "wuda.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend

spec:
  replicas: {{ .Values.frontend.replicaCount }}

  selector:
    matchLabels:
      {{- include "wuda.frontend.selectorLabels" . | nindent 6 }}

  template:
    metadata:
      labels:
        {{- include "wuda.frontend.selectorLabels" . | nindent 8 }}

    spec:
      containers:
      - name: frontend

        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"

        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}

        ports:
        - name: http
          containerPort: {{ .Values.frontend.service.port }}

        env:
        - name: BACKEND_HOSTNAME
          valueFrom:
            configMapKeyRef:
              name: {{ include "wuda.fullname" . }}-config
              key: BACKEND_HOSTNAME

        - name: BACKEND_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ include "wuda.fullname" . }}-config
              key: BACKEND_PORT

        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: {{ include "wuda.fullname" . }}-secret
              key: SECRET_KEY

        - name: APP_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ include "wuda.fullname" . }}-config
              key: APP_PORT_FRONTEND

        - name: APP_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ include "wuda.fullname" . }}-config
              key: APP_HOST_FRONTEND
